* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin-top: 1rem;
}
.container {
  max-width: 768px;
  margin: 0 auto;
}
.timer {
  background: black;
  border-radius: 4px;
  padding: 2rem;
  height: 500px;
}
.timer__header {
  text-align: center;
  color: white;
  text-decoration: underline;
}
.timer__body {
  margin-top: 6rem;
  /* display: flex; */
  display: none;
  justify-content: space-around;
}
.timer__day,
.timer__hour,
.timer__min,
.timer__sec {
  font-size: 3rem;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: 2px dashed white;
  padding: 2rem;
}
.timer__label {
  color: white;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  height:25px;
  width: 200px;
  margin-top: 3rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
img {
  margin-left: 40%;
  margin-top: 40px;
}
button:hover {
  cursor: pointer;
  color: red;
}